.box {
  width: 333px;
  height: 280px;
  background-color: white;
  position: relative;
}
.box-title {
  background-color: gray;
}
.content-img {
  height: 180px;
  widows: 330px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
