%circle-shape {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.circle {
  @extend %circle-shape;
  z-index: 1;
}
.circle-selected {
  @extend %circle-shape;
  position: absolute;
  top: 1px;
  width: 55px;
  height: 55px;
  background-color: #fff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  z-index: -1;
  top: -3px;
  right: -3px;
}
.circle-container {
  position: relative;
}
