.main-box {
  position: absolute;
  width: 900px;
  background-color: #240000;
  right: 0;
  left: 0;
  margin-top: 330px;
  margin-right: auto;
  margin-left: auto;
  min-height: 1100px;
  border: 2px solid #8e0100;
  z-index: 9999;
}

.top {
  width: 100%;
  position: absolute;
  z-index: 999;
  background-color: black;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #a3100c;
}
.top-img {
  display: block;
  margin: 0 auto;
}
.main-title {
}
