<div class="main">
  <div class="main-top">
    <img src="./assets/legendary.png" class="top-img" />
  </div>
	<div class="main-box">
		<div class="main-title">
			<div class="title-text">EXCLUSIVE STOCK </div>
			<div class="title-sort">
				<div class="sort-field">
					Sort by Price
					<div class="options" (click)="sort()">
						<div class="arrow" [ngClass]="'arrow-'+order">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-content">
			<gtav-stock-list [list]="autoList"></gtav-stock-list>
		</div> 
	</div> 
		<div class="main-footer">
			<img src="./assets/footer.png" class="footer-img" />
		</div> 
</div>
 
