<div class="main">
  <div class="top">
    <img src="./assets/legendary.png" class="top-img" />
  </div>
	<div class="main-box">
		<div class="main-title">
			<div class="title-text">EXCLUSIVE STOCK </div>
			<div class="title-sort">
				<mat-form-field >
					<mat-select [(value)]="order" >
						<mat-option value="price">
							Sort by Price	
						</mat-option>
						<mat-option value="name">
							Sort by Name
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="main-content">
			<gtav-stock-list [list]="autoList"></gtav-stock-list>
		</div> 
	</div> 
</div>
 
