@import "../variables";

.main-box {
  position: sticky;
  width: 1100px;
  background-color: $background-box-color;
  right: 0;
  left: 0;
  margin-top: 330px;
  margin-right: auto;
  margin-left: auto;
  min-height: 900px;
  border: 1px solid $border-default-color;
  z-index: 2;
}
.main-top {
  top: 0px;
  width: 100%;
  height: 380px;
  position: absolute;
  z-index: 1;
  background-color: black;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: $border-default-color;
}
.top-img {
  display: block;
  margin: 0 auto;
  height: 330px;
}
.main-footer {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 140px;
  padding: 40px;
  background-color: black;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: $border-default-color;
}

.footer-img {
  display: block;
  margin: 0 auto;
}
