$background-color: #480a0a;
$background-box-color: #240000;
$background-footer-color: #030303;
$border-default-color: #632121;
$border-title-color: #971313;
$color-default: #b1b1ad;
$color-highlighted: #c40c12;
