/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Muli");

body {
  background-color: #480a0a;
  background-image: url("assets/bg-pattern.png");
  margin: 0px;
  margin-top: 6px;
  font-family: "Muli", sans-serif;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #101010;
}

.mat-select-panel {
  background: none;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: white;
}

.mat-form-field-infix,
.mat-select-content {
  background: linear-gradient(#c40c12, #810107);
  border: 1px solid #731a1b;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 3px 2px 12px;
}
.mat-select-arrow-wrapper {
  padding-top: 8px;
}
.mat-select-value-text,
.mat-option-text {
  color: white;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  margin-left: 10px;
}
.mat-select-arrow {
  color: white;
}

.mat-select-arrow {
  width: 12px !important;
  height: 1px !important;
  margin-right: 7px;
  border-bottom: 1px solid #fff;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}
