/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Muli");

body {
  background-color: #480a0a;
  background-image: url("assets/bg-pattern.png");
  margin: 0px;
  margin-top: 6px;
  font-family: "Muli", sans-serif;
}
