<div *ngIf="auto.id">
  <div class="main-title">
    <div class="title-brand" > <img class="img-brand" src="assets/auto/brands/{{auto.brand}}.png" /></div>
    <div class="title-text"> {{auto.model}} </div>
    <div class="title-price">
        {{auto.price  | currency:'USD':true:'1.0'}}
    </div>
  </div>
  <div class="main-content">
    <div class="content-side">
        <div class="content-text">
            Everything else from the 80s has aged. The Rapid GT Classic has only matured. Like a fine claret or a really good boob job, each passing year adds something mysterious to its allure. Sure, that new sports coupé is half the weight, and it has a cleaner transmission. But trust us: get inside this vintage, experience the kind of technique and self-assurance only time can bestow, and you'll never waste your time on a younger model again.
        </div>
        <div class="content-colors">
          <div class="content-colors-title">
            SELECT FROM AVAILABLE COLORS TO ORDER
          </div>
          
          <gtav-circle-list-color></gtav-circle-list-color>
        </div>
        <div class="content-statistics">
          <div class="content-stats-title">
              Vehicle Stats
          </div>
          <div class="statistics" *ngFor="let statistic of statistics">
            <div class="statistics-title">{{statistic.title}}</div>
            <div class="statistics-bar" >
                <gtav-statistics-list-bar [bars]="statistic.bars"></gtav-statistics-list-bar>
            </div>
          </div>
          
        </div>
        <div class="content-order"></div>
    </div>
    <div class="content-foto"></div>
  </div> 
</div>